/out
/dist
/build
/nbproject/private/

/conf

# configuration files
messenger.conf
server.conf
client.key
server-private.key
server-public.key
client-stored-server-public.key
database
conversations

*.disabled

/clientconfig
/serverconfig